{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "vue"
  ],
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  // check if imports actually resolve
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "build/webpack.base.conf.js"
      }
    }
  },
  // add your custom rules here
  "rules": {
    // don"t require .vue extension when importing
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "no-debugger": 0,
    "comma-dangle": [
      "error",
      "never"
    ],
    "object-shorthand": 0,
    "func-names": 0,
    "indent": 0,
    "vue/max-attributes-per-line": [
      2,
      {
        "singleline": 1,
        "multiline": {
          "max": 1,
          "allowFirstLine": true
        }
      }
    ],
    "jasmine/prefer-toHaveBeenCalledWith": 0
  }
}
