{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "upper",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "content",
          "each",
          "for",
          "function",
          "include",
          "mixin",
          "return"
        ]
      }
    ]
  }
}
