/* dosis-200 - latin-ext_latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src:
    local('Dosis ExtraLight'),
    local('Dosis-ExtraLight'),
    /* Super Modern Browsers */
    url('./fonts/dosis-v7-latin-ext_latin-200.woff2') format('woff2'),
    /* Modern Browsers */
    url('./fonts/dosis-v7-latin-ext_latin-200.woff') format('woff'),
    /* Safari, Android, iOS */
    url('./fonts/dosis-v7-latin-ext_latin-200.ttf') format('truetype');
}

/* dosis-300 - latin-ext_latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src:
    local('Dosis Light'),
    local('Dosis-Light'),
    url('./fonts/dosis-v7-latin-ext_latin-300.woff2') format('woff2'),
    url('./fonts/dosis-v7-latin-ext_latin-300.woff') format('woff'),
    url('./fonts/dosis-v7-latin-ext_latin-300.ttf') format('truetype');
}

/* dosis-regular - latin-ext_latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src:
    local('Dosis Regular'),
    local('Dosis-Regular'),
    url('./fonts/dosis-v7-latin-ext_latin-regular.woff2') format('woff2'),
    url('./fonts/dosis-v7-latin-ext_latin-regular.woff') format('woff'),
    url('./fonts/dosis-v7-latin-ext_latin-regular.ttf') format('truetype');
}

/* dosis-500 - latin-ext_latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src:
    local('Dosis Medium'),
    local('Dosis-Medium'),
    url('./fonts/dosis-v7-latin-ext_latin-500.woff2') format('woff2'),
    url('./fonts/dosis-v7-latin-ext_latin-500.woff') format('woff'),
    url('./fonts/dosis-v7-latin-ext_latin-500.ttf') format('truetype');
}

/* dosis-700 - latin-ext_latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src:
    local('Dosis Bold'),
    local('Dosis-Bold'),
    url('./fonts/dosis-v7-latin-ext_latin-700.woff2') format('woff2'),
    url('./fonts/dosis-v7-latin-ext_latin-700.woff') format('woff'),
    url('./fonts/dosis-v7-latin-ext_latin-700.ttf') format('truetype');
}

/* dosis-600 - latin-ext_latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src:
    local('Dosis SemiBold'),
    local('Dosis-SemiBold'),
    url('./fonts/dosis-v7-latin-ext_latin-600.woff2') format('woff2'),
    url('./fonts/dosis-v7-latin-ext_latin-600.woff') format('woff'),
    url('./fonts/dosis-v7-latin-ext_latin-600.ttf') format('truetype');
}

/* dosis-800 - latin-ext_latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src:
    local('Dosis ExtraBold'),
    local('Dosis-ExtraBold'),
    url('./fonts/dosis-v7-latin-ext_latin-800.woff2') format('woff2'),
    url('./fonts/dosis-v7-latin-ext_latin-800.woff') format('woff'),
    url('./fonts/dosis-v7-latin-ext_latin-800.ttf') format('truetype');
}
