@import './config';

$icons: (
  close-outline,
  mark-github,
  menu-outline
);

@each $icon in $icons {
  .icon.icon--#{$icon} {
    background-image: url('./icons/#{$icon}.svg');
  }
}

.icon {
  background-color: transparent;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center top;
  border: none;
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
  width: 2rem;

  &--small {
    height: 1.5rem;
    vertical-align: middle;
    width: 1.5rem;
  }

  &--link {
    border-radius: 50%;
    opacity: 0.45;

    &:active,
    &:focus,
    &:hover {
      cursor: pointer;
      opacity: 0.65;
    }

    &:active,
    &:focus {
      box-shadow: $shadow-outline;
      outline: none;
    }
  }
}
